* {
    font-family: 'Montserrat', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

.fix_width_cntr {
    display: flex;
    justify-content: center;
    width: 1600px !important;
    position: relative;
    z-index: 2;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 9999;
}

.top_header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 58px;
}

.top_header a {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #fff;
}

.main_header {
    height: 80px;
    max-width: 1440px;
}

.gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, 0) 100%);
    position: relative;
    z-index: 0;
}

.hello_section {
    margin-top: -80px;
    background-image: url(./img/background.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 800px;
    position: relative;
    z-index: -1;
}

.nav_list {
    margin: 0;
    padding: 0;
    height: 80px;
    text-decoration: none;
    color: white;
}

.nav_list>li>a {
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 14x;
}

.empty_container {
    flex: 1;
}

.logo {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/69/Airbnb_Logo_B%C3%A9lo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 102px;
    height: 80px;
}

.side_cnt {
    width: 375px;
    height: 136px;
    border: 1px solid red;
}

.padding {
    padding-left: 80px !important;
    padding-right: 80px !important;
}

.center_cnt {
    width: 850px;
    height: 136px;
    border: 1px solid red;
}

.row_center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.column_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}